<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
</head>
<body>
    <h1>Hello, {{ page_title }}!</h1>
    <div id="homepage-react-root"></div>
    <script src="../react/dist/bundle.js"></script>
</body>
</html>
